In [1]:
#import the library sqlite3

import pandas as pd
import sqlite3 as sq
import mysql.connector

In [46]:
commune = pd.read_excel("donnees_communes.xlsx")

In [47]:

commune= commune[['REG','CODREG','COM','PMUN','PCAP','PTOT']]
commune = commune.rename(columns = {'REG':'reg_nom', 'CODREG':'reg_code', 'COM':'nom_commune'})
commune.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34991 entries, 0 to 34990
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   reg_nom      34991 non-null  object
 1   reg_code     34991 non-null  float64
 2   nom_commune  34991 non-null  object
 3   PMUN         34991 non-null  float64
 4   PCAP         34991 non-null  float64
 5   PTOT         34991 non-null  float64
dtypes: float64(4), object(2)
memory usage: 1.6+ MB

In [4]:
foncier = pd.read_excel('Valeurs_fonci√®res.xlsx')

C:\Users\utilisateur\anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [39]:
geo = pd.read_excel('fr-esr-referentiel-geographique.xlsx')

C:\Users\utilisateur\anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38916 entries, 0 to 38915
Data columns (total 37 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   regrgp_nom         38916 non-null  object
 1   reg_nom            38916 non-null  object
 2   reg_nom_old        38916 non-null  object
 3   aca_nom            38916 non-null  object
 4   dep_nom            38916 non-null  object
 5   com_code           38916 non-null  object
 6   com_code1          38916 non-null  object
 7   com_code2          38916 non-null  object
 8   com_id             38916 non-null  object
 9   com_nom_maj_court  38916 non-null  object
 10  com_nom_maj        38916 non-null  object
 11  com_nom            38916 non-null  object
 12  uu_code            7625 non-null   object
 13  uu_id              38916 non-null  object
 14  uucr_id            38916 non-null  object
 15  uucr_nom           38916 non-null  object
 16  ze_id              38916 non-null  object
 17  dep_code           38916 non-null  object
 18  dep_id             38916 non-null  object
 19  dep_nom_num        38916 non-null  object
 20  dep_num_nom        38916 non-null  object
 21  aca_code           38916 non-null  float64
 22  aca_id             38916 non-null  object
 23  reg_code           38916 non-null  float64
 24  reg_id             38916 non-null  object
 25  reg_code_old       38916 non-null  float64
 26  reg_id_old         38916 non-null  object
 27  fd_id              38916 non-null  object
 28  fr_id              38916 non-null  object
 29  fe_id              38916 non-null  object
 30  uu_id_99           38916 non-null  object
 31  au_code            21444 non-null  object
 32  au_id              38916 non-null  object
 33  auc_id             38916 non-null  object
 34  auc_nom            38916 non-null  object
 35  uu_id_10           38916 non-null  object
 36  geolocalisation    36745 non-null  object
dtypes: float64(3), object(34)
memory usage: 11.0+ MB

In [38]:
geo_comm = pd.merge(geo, comm , how='outer')

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [29]:
bien = foncier[["Type local","No voie","Type de voie","Voie","Code ID commune","Nombre pieces principales","Surface reelle bati","Surface Carrez du 1er lot"]]
bien = bien.rename(columns = {'Surface Carrez du 1er lot':'surface_local','Code ID commune':'id_codedep_code_commune','Nombre pieces principales' :'total_piece', 'Surface reelle bati':'surface_carrez'})
bien['id_bien'] = bien.index
bien

,Type local,No voie,Type de voie,Voie,id_codedep_code_commune,total_piece,surface_carrez,surface_local,id_bien
0,Appartement,190.0,RUE,CENTRALE,0.0,2.0,52.0,50.42,0
1,Appartement,347.0,RUE,DU CHATEAU,1.0,3.0,48.0,48.22,1
2,Appartement,58.0,AV,DU MONT BLANC,2.0,6.0,130.0,130.80,2
3,Maison,140.0,RUE,DE L'ABBE JOLIVET,3.0,5.0,109.0,109.22,3
4,Appartement,39.0,RUE,BUFFON,4.0,4.0,91.0,108.65,4
...,...,...,...,...,...,...,...,...,...
34164,Appartement,4.0,RUE,DE RIVOLI,3213.0,3.0,99.0,102.09,34164
34165,Appartement,38.0,RUE,DU TEMPLE,3213.0,3.0,56.0,55.95,34165
34166,Appartement,13.0,RUE,DES TOURNELLES,3213.0,2.0,29.0,32.86,34166
34167,Appartement,16.0,RUE,CHARLEMAGNE,3213.0,3.0,48.0,56.80,34167
34168,Appartement,3.0,RUE,SAINT-JOSEPH,3214.0,1.0,33.0,35.44,34168

In [34]:
comm = foncier[['Code postal', 'Commune', 'Code departement','Code ID commune','Code commune']]
comm.rename(columns = {'Code ID commune' : 'id_codedep_codecommune'})

,Code postal,Commune,Code departement,id_codedep_codecommune,Code commune
0,1370.0,SAINT-ETIENNE-DU-BOIS,1,0.0,350
1,1170.0,CHEVRY,1,1.0,103
2,1220.0,DIVONNE-LES-BAINS,1,2.0,143
3,1630.0,PERON,1,3.0,288
4,1200.0,VALSERHONE,1,4.0,33
...,...,...,...,...,...
34164,75004.0,PARIS 04,75,3213.0,104
34165,75004.0,PARIS 04,75,3213.0,104
34166,75004.0,PARIS 04,75,3213.0,104
34167,75004.0,PARIS 04,75,3213.0,104
34168,75002.0,PARIS 02,75,3214.0,102